/**
 * INTRO CSS
 * Updated on 02/04/2017
 */

// section intro CSS
.section-intro {
    height: 700px;
    background: url('../uploads/intro/home_1.jpg') center no-repeat;
    background-size: cover;
    .section-inner {
        position: relative;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
    }
}

// intro wrap CSS
.intro-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    .transform(translate(-50%, -50%));
    width: 800px;
    .page-ttl {
        margin-bottom: 30px;
    }
}