section.section.section-about
    .section-inner
        h3.section-ttl about us
        p.section-desc At vero eos et accusamus et iusto odio digniss ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.
        .section-wrap
            .container
                .about-list.row
                    .about-itm.col-md-3
                        figure.about-img
                            img(src="./uploads/about/about_1.jpg", alt="")
                        .about-desc
                            h4.about-ttl Kelly Williams
                            .about-pos Web designer
                    .about-itm.col-md-3
                        figure.about-img
                            img(src="./uploads/about/about_2.jpg", alt="")
                        .about-desc
                            h4.about-ttl Ariana Grande
                            .about-pos Developer
                    .about-itm.col-md-3
                        figure.about-img
                            img(src="./uploads/about/about_3.jpg", alt="")
                        .about-desc
                            h4.about-ttl David Daniels
                            .about-pos Developer
                    .about-itm.col-md-3
                        figure.about-img
                            img(src="./uploads/about/about_4.jpg", alt="")
                        .about-desc
                            h4.about-ttl Jack Griffo
                            .about-pos Developer

