section.section
    .section-inner
        h3.section-ttl.secttl-contact contact
        .section-wrap
            .container
                .row
                    .addr-list.col-md-6
                        .addr-itm
                            .fa.fa-map-marker
                            .aitm-desc 39/1D, Street No. 4, Tang Nhon Phu B Ward, District 9, HCMC
                        .addr-itm
                            .fa.fa-mobile
                            .aitm-desc 0167 479 0686
                        .addr-itm
                            .fa.fa-envelope
                            .aitm-desc thaopt93@gmail.com
                    .col-md-6
                        .cont-form
                            form
                                .cont-row.row
                                    .col-md-6
                                        .form-group
                                            label.lbl your name *
                                            input.ipt(type="text", name='contact-name')
                                    .col-md-6
                                        .form-group
                                            label.lbl phone *
                                            input.ipt(type="text", name='contact-phone')
                                .row
                                    .col-md-6
                                        .form-group
                                            label.lbl email *
                                            input.ipt(type="text", name='contact-email')
                                    .col-md-6
                                        .form-group
                                            label.lbl your message *
                                            input.ipt(type="text", name='contact-msg')
                                        
