section.section-intro
    .section-inner
        .intro-wrap
            h1.page-ttl.t-c HELLO!
            .section-desc "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.