section.section
    .section-inner
        h3.section-ttl Service
        .serv-wrap
            .serv-row.two-cols
                .serv-itm
                    figure
                        img(src='../uploads/services/serv_1.jpg')
                    .svitm-wrap
                        h3.serv-ttl New project
                        .serv-desc Ded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                .serv-itm
                    figure
                        img(src='../uploads/services/serv_2.jpg')
                    .svitm-wrap
                        h3.serv-ttl New project
                        .serv-desc Ded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
            .serv-row.three-cols
                .serv-itm
                    figure
                        img(src='../uploads/services/serv_3.jpg')
                    .svitm-wrap
                        h3.serv-ttl New project
                        .serv-desc Ded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                .serv-itm
                    figure
                        img(src='../uploads/services/serv_4.jpg')
                    .svitm-wrap
                        h3.serv-ttl New project
                        .serv-desc Ded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                .serv-itm
                    figure
                        img(src='../uploads/services/serv_5.jpg')
                    .svitm-wrap
                        h3.serv-ttl New project
                        .serv-desc Ded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
            .t-c
                a(href="javascript:;")
                    | see more
                    i.fa.fa-angle-right