/**
 * ALLPAGE CSS
 * Updated on 02/04/2017
 */

.page-ttl {
    font-size: 120px;
    font-weight: 700;
    color: white;
}

// Section CSS
.section {
    .section-inner {
        padding: 90px 0;
    }    
}

.section-ttl {
    text-align: center;
    text-transform: uppercase;
    color: @red;
}

.section-desc {
    text-align: center;
    font-size: 30px;
    color: white; 
    line-height: 36px;      
}

