block vars
  -title="Home Page - Porfolio"
extends layouts/layout
block main
    include blocks/home/intro
    include blocks/home/skills
    include blocks/home/service
    include blocks/home/about_us
    include blocks/home/contact

