footer.footer
    .footer-inner
        .footer-top
            .container
                .row
                    .contact-us.t-l.col-md-6
                        h3.footer-ttl contact us
                        p.footer-text
                            | 6591 Orchard Street, NY 10002, United States
                            br 
                            | Email: 
                            a(href="mailto:contact@onepro.co") contact@onepro.co
                            br
                            | Phone 01: +00 (9) 123 3456 789
                            br 
                            | Phone 02: +00 (9) 123 3456 788
                            br 
                            | Fax: +00 (9) 643 6543 898
                        .bottom-social
                            a(href="#")
                                i.fa.fa-twitter
                            a(href="#")
                                i.fa.fa-facebook
                            a(href="#")
                                i.fa.fa-google
                            a(href="#")
                                i.fa.fa-linkedin
                            a(href="#")
                                i.fa.fa-rss
                    .tter-widget.t-r.col-md-6
                        h3.footer-ttl twitter widget
                        p.footer-text
                            | Looking for awesome Ceative PSD Template ?
                            br 
                            | Find it here: 
                            a(href="#") http://tf.net/OAWS890a  
                            span.days
                                i.fa.fa-twitter 
                                | 01 Day ago
                        p.footer-text
                            | You need an image stock
                            br 
                            | It here: 
                            a(href="#") http://tf.net/567AW1
                            span.days
                                i.fa.fa-twitter 
                                | 02 DayS ago
        .footer-bottom.t-c
            | made by 
            a(href="#") mrok93
// END: FOOTER BLK