/**
 * HEADER CSS
 * Updated on 02/04/2017
 */

.header {
    position: absolute;
    top: 30px;
    left: 60px;
    right: 60px;
    z-index: 2;
    .logo, .menu-btn {
        width: 40px;
        height: 40px; 
        line-height: 40px;
        text-align: center;
        text-decoration: none;
    }
    .logo {
        float: left;
        color: white;
        font-size: 30px;
        border: 1px solid white;
    }
    .menu-btn {
        float: right;
        .fa-bars {
            font-size: 24px;
        }
    }
}